{% extends "base.html" %}
	{% block title %}
		Daily Dose of Dev 
	{% endblock %}
	{% block content %}
<!-- About Section -->
<div class="w3-container" style="padding:128px 16px" id="about">
	<h3 class="w3-center">ABOUT THE NEWSLETTER</h3>
		<p class="w3-center w3-large">Key features</p>
			<div class="w3-row-padding w3-center" style="margin-top:64px">
				<div class="w3-quarter">
					<i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
					<p class="w3-large">Technical Interview Training</p>
					<p>Receive some courses about data structures, algorithms, interviews preparation advices and technical interviews questions with the answers.</p>
				</div>
				<div class="w3-quarter">
					<i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
					<p class="w3-large">Recommedations</p>
					<p>Get some youtube channels, movies, series, tools or book recommendations to help or entertain you during your never ending journey toward becoming a computer science ninja.</p>
				</div>
				<div class="w3-quarter">
					<i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
					<p class="w3-large">Hardware</p>
					<p>Some advices about physical tools or hardware to make your workspace more confortable.</p>
				</div>
				<div class="w3-quarter">
					<i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
					<p class="w3-large">Insight</p>
					<p>Get some information about the stack that some state of the art and innovative companies use and some additional informations about those companies like number of employes, valuation, round series...</p>
				</div>
			</div>
</div>

<!-- Promo Section - "We know design" -->
<div class="w3-container w3-light-grey" style="padding:128px 16px">
	<div class="w3-row-padding">
		<div class="w3-col m6">
			<h3>About the author.</h3>
				<p>Computer Science Engineer, passionate about technology, I have had the opportunity to work both as a data scientist and software projects across Europe for some top tier companies. I am willing to help you level up your skills in the Computer Science domain and reach your dream job in the right company for you.
				<div class="w3-panel w3-large">
					<a href="https://www.linkedin.com/in/jean-edouard-reuglewicz-0747628a/"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
					<a href="https://github.com/elBichon"><i class="fa fa-github w3-hover-opacity"></i></a>
				</div>
				</p>
		</div>
		<div class="w3-col m6">
			<img class="w3-image w3-round-large" src="/static/images/pr.jpeg" alt="Buildings" width="700" height="394">
		</div>
	</div>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
	<span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright" title="Close Modal Image">×</span>
	<div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
		<img id="img01" class="w3-image">
		<p id="caption" class="w3-opacity w3-large"></p>
	</div>
</div>

<!-- Pricing Section -->
<div class="w3-padding-64 w3-center w3-white">
	<h3 class="w3-jumbo"><b>PRICING</b></h3>
		<p class="w3-large">Choose a plan that fits your goals.</p>
		<div class="w3-row-padding" style="margin-top:64px">
			<div class="w3-half w3-section">
				<ul class="w3-ul w3-card">
					<li class="w3-dark-grey w3-xlarge w3-padding-32">FREE</li>
					<li class="w3-padding-16">1 weekly email</li>
					<li class="w3-padding-16">5 technical interview questions</li>
					<li class="w3-padding-16">Additional materails to prepare or entertain you</li>
					<li class="w3-padding-16">Information about the stack used by an innovative start up</li>
					<li class="w3-padding-16">No Ads</li>
					<h2 class="w3-opacity">Free and always will be</h2>
						<li class="w3-light-grey w3-padding-24"></li>
				</ul>
			</div>
			<div class="w3-half w3-section">
				<ul class="w3-ul w3-card">
					<li class="w3-dark-grey w3-xlarge w3-padding-32">FREE</li>
					<li class="w3-padding-16">1 weekly email</li>
					<li class="w3-padding-16">5 technical interview questions with answers</li>
					<li class="w3-padding-16">Additional materails to prepare or entertain you</li>
					<li class="w3-padding-16">Information about the stack used by an innovative start up and additional data about their developement</li>
					<li class="w3-padding-16">No Ads</li>
					<h2 class="w3-opacity">TBD</h2>
						<li class="w3-light-grey w3-padding-24"></li>
				</ul>
			</div>
		</div>
	<br>
</div>

<!-- Team Section -->
<div class="w3-container" style="padding:128px 16px" id="team">
	<h3 class="w3-center">SUSCRIBE</h3>
		<form class="w3-center" action='/suscribe' method="post">
			<span>Email address:</span>
			<span>
				<input type="email" name="email" placeholder="Enter Email" value="{{email if email}}"/>
				<input type="checkbox" id="agreement" name="agreement" value="ok" required>
				<label for="subscribeNews">I have read and agree with the general terms and conditions</label>
				<input type="hidden" name="status" value="0"/>
				<input type="hidden" name="nb_day" value="0"/></span></br>
				<input class="w3-center" type="submit" value="submit"/>
			</span>
		</form>
</div>
{% endblock %}
