{% extends "base.html" %}
	{% block title %}
		Daily Dose of Dev Update Page 
	{% endblock %}
	{% block content %}
		<div class="w3-container" style="padding:128px 16px" id="team">
			<h2 class="w3-center" id="ancre">Update your account</h2>
				<form class="w3-center" action='/update_account' method="post">
					<p>Email address:
						<input type="email" name="email" placeholder="Enter Email" value="{{email if email}}"/>
						<label for="status">What do you want to do</label>
							<select id="status" name="status">
								<option value="1">Free account</option>
								<option value="2">Premium account</option>
								<option value="3">Pause account</option>
								<option value="4">Delete account</option>
							</select></br>
						<input class="w3-center button button1" type="submit" value="submit"/>
					</p>
				</form>
			<div class="w3-row-padding w3-grayscale" style="margin-top:64px"></div>
		</div>
	{% endblock %}